<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span>Client</span> {{client.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Client ID</span></dt>
                <dd>
                    <span>{{client.clientID}}</span>
                </dd>
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{client.nom}}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{client.prenom}}</span>
                </dd>
                <dt><span>Naissance</span></dt>
                <dd>
                    <span>{{client.naissance}}</span>
                </dd>
                <dt><span>Genre</span></dt>
                <dd>
                    <span>{{client.genre}}</span>
                </dd>
                <dt><span>Est Marie</span></dt>
                <dd>
                    <span>{{client.estMarie}}</span>
                </dd>
                <dt><span>Num Carte Cli</span></dt>
                <dd>
                    <span>{{client.numCarteCli}}</span>
                </dd>
                <dt><span>D Carte Util</span></dt>
                <dd>
                    <span>{{client.dCarteUtil}}</span>
                </dd>
                <dt><span>Village</span></dt>
                <dd>
                    <span>{{client.village}}</span>
                </dd>
                <dt><span>Tel</span></dt>
                <dd>
                    <span>{{client.tel}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{client.email}}</span>
                </dd>
                <dt><span>Groupe</span></dt>
                <dd>
                    <span>{{client.groupe}}</span>
                </dd>
                <dt><span>Photo ID</span></dt>
                <dd>
                    <span>{{client.photoID}}</span>
                </dd>
                <dt><span>Taille Menage</span></dt>
                <dd>
                    <span>{{client.tailleMenage}}</span>
                </dd>
                <dt><span>Superficie Pos</span></dt>
                <dd>
                    <span>{{client.superficiePos}}</span>
                </dd>
                <dt><span>Nom PAP</span></dt>
                <dd>
                    <span>{{client.nomPAP}}</span>
                </dd>
                <dt><span>Prenom PAP</span></dt>
                <dd>
                    <span>{{client.prenomPAP}}</span>
                </dd>
                <dt><span>Tel PAP</span></dt>
                <dd>
                    <span>{{client.telPAP}}</span>
                </dd>
                <dt><span>Lien PAP</span></dt>
                <dd>
                    <span>{{client.lienPAP}}</span>
                </dd>
                <dt><span>Est Actif</span></dt>
                <dd>
                    <span>{{client.estActif}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{client.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{client.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{client.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{client.modifPar}}</span>
                </dd>
                <dt><span>Besoin Intrants</span></dt>
                <dd>
                    <div *ngIf="client.besoinIntrantsId">
                        <a [routerLink]="['/besoin-intrant-my-suffix', client.besoinIntrantsId, 'view']">{{client.besoinIntrantsId}}</a>
                    </div>
                </dd>
                <dt><span>Suivi Champs</span></dt>
                <dd>
                    <div *ngIf="client.suiviChampsId">
                        <a [routerLink]="['/suivi-champs-my-suffix', client.suiviChampsId, 'view']">{{client.suiviChampsId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client-my-suffix', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
