<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span>Client</span> {{client.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Client ID</span></dt>
                <dd>
                    <span>{{client.clientID}}</span>
                </dd>
                <dt><span>Local ID</span></dt>
                <dd>
                    <span>{{client.localID}}</span>
                </dd>
                <dt><span>Remote ID</span></dt>
                <dd>
                    <span>{{client.remoteID}}</span>
                </dd>
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{client.nom}}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{client.prenom}}</span>
                </dd>
                <dt><span>Naissance</span></dt>
                <dd>
                    <span>{{client.naissance}}</span>
                </dd>
                <dt><span>Genre</span></dt>
                <dd>
                    <span>{{client.genre}}</span>
                </dd>
                <dt><span>Num Carte Cli</span></dt>
                <dd>
                    <span>{{client.numCarteCli}}</span>
                </dd>
                <dt><span>D Carte Util</span></dt>
                <dd>
                    <span>{{client.dCarteUtil}}</span>
                </dd>
                <dt><span>Tel</span></dt>
                <dd>
                    <span>{{client.tel}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{client.email}}</span>
                </dd>
                <dt><span>Photo ID</span></dt>
                <dd>
                    <span>{{client.photoID}}</span>
                </dd>
                <dt><span>Info Supplementaires</span></dt>
                <dd>
                    <span>{{client.infoSupplementaires}}</span>
                </dd>
                <dt><span>Est Actif</span></dt>
                <dd>
                    <span>{{client.estActif}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{client.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{client.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{client.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{client.modifPar}}</span>
                </dd>
                <dt><span>Langue</span></dt>
                <dd>
                    <div *ngIf="client.langueId">
                        <a [routerLink]="['/langue-my-suffix', client.langueId, 'view']">{{client.langueId}}</a>
                    </div>
                </dd>
                <dt><span>Commercial</span></dt>
                <dd>
                    <div *ngIf="client.commercialId">
                        <a [routerLink]="['/utilisateur-my-suffix', client.commercialId, 'view']">{{client.commercialId}}</a>
                    </div>
                </dd>
                <dt><span>Commune</span></dt>
                <dd>
                    <div *ngIf="client.communeId">
                        <a [routerLink]="['/commune-my-suffix', client.communeId, 'view']">{{client.communeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client-my-suffix', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
