<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-client-my-suffix-heading">Create or edit a Client</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!client.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="client.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_clientID">Client ID</label>
                    <input type="text" class="form-control" name="clientID" id="field_clientID"
                        [(ngModel)]="client.clientID" required maxlength="13"/>
                    <div [hidden]="!(editForm.controls.clientID?.dirty && editForm.controls.clientID?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.clientID?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.clientID?.errors?.maxlength">
                        This field cannot be longer than 13 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="client.nom" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                        [(ngModel)]="client.prenom" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prenom?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prenom?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_naissance">Naissance</label>
                    <div class="d-flex">
                        <input id="field_naissance" type="datetime-local" class="form-control" name="naissance" [(ngModel)]="naissance"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.naissance?.dirty && editForm.controls.naissance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.naissance?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.naissance?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_genre">Genre</label>
                    <select class="form-control" name="genre" [(ngModel)]="client.genre" id="field_genre"  required>
                        <option value="HOMME">HOMME</option>
                        <option value="FEMME">FEMME</option>
                    </select>
                    <div [hidden]="!(editForm.controls.genre?.dirty && editForm.controls.genre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.genre?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estMarie">Est Marie</label>
                    <input type="checkbox" class="form-control" name="estMarie" id="field_estMarie"
                        [(ngModel)]="client.estMarie" />
                    <div [hidden]="!(editForm.controls.estMarie?.dirty && editForm.controls.estMarie?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.estMarie?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numCarteCli">Num Carte Cli</label>
                    <input type="text" class="form-control" name="numCarteCli" id="field_numCarteCli"
                        [(ngModel)]="client.numCarteCli" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.numCarteCli?.dirty && editForm.controls.numCarteCli?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numCarteCli?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numCarteCli?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dCarteUtil">D Carte Util</label>
                    <div class="d-flex">
                        <input id="field_dCarteUtil" type="datetime-local" class="form-control" name="dCarteUtil" [(ngModel)]="dCarteUtil"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.dCarteUtil?.dirty && editForm.controls.dCarteUtil?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dCarteUtil?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dCarteUtil?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_village">Village</label>
                    <input type="text" class="form-control" name="village" id="field_village"
                        [(ngModel)]="client.village" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.village?.dirty && editForm.controls.village?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.village?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.village?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel"
                        [(ngModel)]="client.tel" required maxlength="10"/>
                    <div [hidden]="!(editForm.controls.tel?.dirty && editForm.controls.tel?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tel?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tel?.errors?.maxlength">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="client.email" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_groupe">Groupe</label>
                    <input type="text" class="form-control" name="groupe" id="field_groupe"
                        [(ngModel)]="client.groupe" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.groupe?.dirty && editForm.controls.groupe?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.groupe?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_photoID">Photo ID</label>
                    <input type="text" class="form-control" name="photoID" id="field_photoID"
                        [(ngModel)]="client.photoID" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.photoID?.dirty && editForm.controls.photoID?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.photoID?.errors?.maxlength">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tailleMenage">Taille Menage</label>
                    <input type="number" class="form-control" name="tailleMenage" id="field_tailleMenage"
                        [(ngModel)]="client.tailleMenage" required/>
                    <div [hidden]="!(editForm.controls.tailleMenage?.dirty && editForm.controls.tailleMenage?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tailleMenage?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.tailleMenage?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_superficiePos">Superficie Pos</label>
                    <input type="number" class="form-control" name="superficiePos" id="field_superficiePos"
                        [(ngModel)]="client.superficiePos" required/>
                    <div [hidden]="!(editForm.controls.superficiePos?.dirty && editForm.controls.superficiePos?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.superficiePos?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.superficiePos?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nomPAP">Nom PAP</label>
                    <input type="text" class="form-control" name="nomPAP" id="field_nomPAP"
                        [(ngModel)]="client.nomPAP" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.nomPAP?.dirty && editForm.controls.nomPAP?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nomPAP?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prenomPAP">Prenom PAP</label>
                    <input type="text" class="form-control" name="prenomPAP" id="field_prenomPAP"
                        [(ngModel)]="client.prenomPAP" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.prenomPAP?.dirty && editForm.controls.prenomPAP?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prenomPAP?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telPAP">Tel PAP</label>
                    <input type="text" class="form-control" name="telPAP" id="field_telPAP"
                        [(ngModel)]="client.telPAP" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.telPAP?.dirty && editForm.controls.telPAP?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.telPAP?.errors?.maxlength">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lienPAP">Lien PAP</label>
                    <input type="text" class="form-control" name="lienPAP" id="field_lienPAP"
                        [(ngModel)]="client.lienPAP" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.lienPAP?.dirty && editForm.controls.lienPAP?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lienPAP?.errors?.maxlength">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estActif">Est Actif</label>
                    <input type="checkbox" class="form-control" name="estActif" id="field_estActif"
                        [(ngModel)]="client.estActif" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creeLe">Cree Le</label>
                    <div class="d-flex">
                        <input id="field_creeLe" type="datetime-local" class="form-control" name="creeLe" [(ngModel)]="creeLe"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creePar">Cree Par</label>
                    <input type="text" class="form-control" name="creePar" id="field_creePar"
                        [(ngModel)]="client.creePar" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifLe">Modif Le</label>
                    <div class="d-flex">
                        <input id="field_modifLe" type="datetime-local" class="form-control" name="modifLe" [(ngModel)]="modifLe"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifPar">Modif Par</label>
                    <input type="text" class="form-control" name="modifPar" id="field_modifPar"
                        [(ngModel)]="client.modifPar" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_besoinIntrants">Besoin Intrants</label>
                    <select class="form-control" id="field_besoinIntrants" name="besoinIntrants" [(ngModel)]="client.besoinIntrantsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="besoinIntrantOption.id" *ngFor="let besoinIntrantOption of besoinintrants; trackBy: trackBesoinIntrantById">{{besoinIntrantOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_suiviChamps">Suivi Champs</label>
                    <select class="form-control" id="field_suiviChamps" name="suiviChamps" [(ngModel)]="client.suiviChampsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="suiviChampsOption.id" *ngFor="let suiviChampsOption of suivichamps; trackBy: trackSuiviChampsById">{{suiviChampsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
