<div>
    <h2 id="page-heading">
        <span>Provinces</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-province-my-suffix" [routerLink]="['/province-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Province
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="provinces">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Province ID</span></th>
            <th><span>Nom Province</span></th>
            <th><span>Est Actif</span></th>
            <th><span>Cree Le</span></th>
            <th><span>Cree Par</span></th>
            <th><span>Modif Le</span></th>
            <th><span>Modif Par</span></th>
            <th><span>Region</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let province of provinces ;trackBy: trackId">
                <td><a [routerLink]="['/province-my-suffix', province.id, 'view' ]">{{province.id}}</a></td>
                <td>{{province.provinceID}}</td>
                <td>{{province.nomProvince}}</td>
                <td>{{province.estActif}}</td>
                <td>{{province.creeLe | date:'medium'}}</td>
                <td>{{province.creePar}}</td>
                <td>{{province.modifLe | date:'medium'}}</td>
                <td>{{province.modifPar}}</td>
                <td>
                    <div *ngIf="province.regionId">
                        <a [routerLink]="['../region-my-suffix', province.regionId , 'view' ]" >{{province.regionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/province-my-suffix', province.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/province-my-suffix', province.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'province-my-suffix/'+ province.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
