<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="culture">
            <h2><span>Culture</span> {{culture.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Engrais ID</span></dt>
                <dd>
                    <span>{{culture.engraisID}}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{culture.libelle}}</span>
                </dd>
                <dt><span>Prix Cession</span></dt>
                <dd>
                    <span>{{culture.prixCession}}</span>
                </dd>
                <dt><span>Est Actif</span></dt>
                <dd>
                    <span>{{culture.estActif}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{culture.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{culture.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{culture.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{culture.modifPar}}</span>
                </dd>
                <dt><span>Besoins Intrants Esc</span></dt>
                <dd>
                    <div *ngIf="culture.besoinsIntrantsEscId">
                        <a [routerLink]="['/besoin-intrant-my-suffix', culture.besoinsIntrantsEscId, 'view']">{{culture.besoinsIntrantsEscId}}</a>
                    </div>
                </dd>
                <dt><span>Besoins Intrants Gar</span></dt>
                <dd>
                    <div *ngIf="culture.besoinsIntrantsGarId">
                        <a [routerLink]="['/besoin-intrant-my-suffix', culture.besoinsIntrantsGarId, 'view']">{{culture.besoinsIntrantsGarId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/culture-my-suffix', culture.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
