<div>
    <h2 id="page-heading">
        <span>References</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reference-my-suffix" [routerLink]="['/reference-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Reference
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="references">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Id Ref</span></th>
            <th><span>Libelle Ref</span></th>
            <th><span>Valeur Ref</span></th>
            <th><span>Est Actif</span></th>
            <th><span>Cree Le</span></th>
            <th><span>Cree Par</span></th>
            <th><span>Modif Le</span></th>
            <th><span>Modif Par</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reference of references ;trackBy: trackId">
                <td><a [routerLink]="['/reference-my-suffix', reference.id, 'view' ]">{{reference.id}}</a></td>
                <td>{{reference.idRef}}</td>
                <td>{{reference.libelleRef}}</td>
                <td>{{reference.valeurRef}}</td>
                <td>{{reference.estActif}}</td>
                <td>{{reference.creeLe | date:'medium'}}</td>
                <td>{{reference.creePar}}</td>
                <td>{{reference.modifLe | date:'medium'}}</td>
                <td>{{reference.modifPar}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/reference-my-suffix', reference.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reference-my-suffix', reference.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reference-my-suffix/'+ reference.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
