<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-suivi-champs-my-suffix-heading">Create or edit a Suivi Champs</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!suiviChamps.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="suiviChamps.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_suiviID">Suivi ID</label>
                    <input type="number" class="form-control" name="suiviID" id="field_suiviID"
                        [(ngModel)]="suiviChamps.suiviID" required/>
                    <div [hidden]="!(editForm.controls.suiviID?.dirty && editForm.controls.suiviID?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.suiviID?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.suiviID?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dVisit">D Visit</label>
                    <div class="d-flex">
                        <input id="field_dVisit" type="datetime-local" class="form-control" name="dVisit" [(ngModel)]="dVisit"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.dVisit?.dirty && editForm.controls.dVisit?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dVisit?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dVisit?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emplac">Emplac</label>
                    <input type="text" class="form-control" name="emplac" id="field_emplac"
                        [(ngModel)]="suiviChamps.emplac" required maxlength="50"/>
                    <div [hidden]="!(editForm.controls.emplac?.dirty && editForm.controls.emplac?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.emplac?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.emplac?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_obs">Obs</label>
                    <input type="text" class="form-control" name="obs" id="field_obs"
                        [(ngModel)]="suiviChamps.obs" maxlength="4000"/>
                    <div [hidden]="!(editForm.controls.obs?.dirty && editForm.controls.obs?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.obs?.errors?.maxlength">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dosImg">Dos Img</label>
                    <input type="text" class="form-control" name="dosImg" id="field_dosImg"
                        [(ngModel)]="suiviChamps.dosImg" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.dosImg?.dirty && editForm.controls.dosImg?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dosImg?.errors?.maxlength">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estActif">Est Actif</label>
                    <input type="checkbox" class="form-control" name="estActif" id="field_estActif"
                        [(ngModel)]="suiviChamps.estActif" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creeLe">Cree Le</label>
                    <div class="d-flex">
                        <input id="field_creeLe" type="datetime-local" class="form-control" name="creeLe" [(ngModel)]="creeLe"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creePar">Cree Par</label>
                    <input type="text" class="form-control" name="creePar" id="field_creePar"
                        [(ngModel)]="suiviChamps.creePar" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifLe">Modif Le</label>
                    <div class="d-flex">
                        <input id="field_modifLe" type="datetime-local" class="form-control" name="modifLe" [(ngModel)]="modifLe"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifPar">Modif Par</label>
                    <input type="text" class="form-control" name="modifPar" id="field_modifPar"
                        [(ngModel)]="suiviChamps.modifPar" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
