<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="suiviChamps">
            <h2><span>Suivi Champs</span> {{suiviChamps.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Suivi ID</span></dt>
                <dd>
                    <span>{{suiviChamps.suiviID}}</span>
                </dd>
                <dt><span>D Visit</span></dt>
                <dd>
                    <span>{{suiviChamps.dVisit}}</span>
                </dd>
                <dt><span>Emplac</span></dt>
                <dd>
                    <span>{{suiviChamps.emplac}}</span>
                </dd>
                <dt><span>Obs</span></dt>
                <dd>
                    <span>{{suiviChamps.obs}}</span>
                </dd>
                <dt><span>Dos Img</span></dt>
                <dd>
                    <span>{{suiviChamps.dosImg}}</span>
                </dd>
                <dt><span>Est Actif</span></dt>
                <dd>
                    <span>{{suiviChamps.estActif}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{suiviChamps.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{suiviChamps.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{suiviChamps.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{suiviChamps.modifPar}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/suivi-champs-my-suffix', suiviChamps.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
