<div>
    <h2 id="page-heading">
        <span>Suivi Champs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-suivi-champs-my-suffix" [routerLink]="['/suivi-champs-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Suivi Champs
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="suiviChamps">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="suiviID"><span>Suivi ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dVisit"><span>D Visit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emplac"><span>Emplac</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obsAgent"><span>Obs Agent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obsRes"><span>Obs Res</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dosImg"><span>Dos Img</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estActif"><span>Est Actif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creeLe"><span>Cree Le</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creePar"><span>Cree Par</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifLe"><span>Modif Le</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifPar"><span>Modif Par</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientId"><span>Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="utilisateurId"><span>Utilisateur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="communeId"><span>Commune</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let suiviChamps of suiviChamps ;trackBy: trackId">
                <td><a [routerLink]="['/suivi-champs-my-suffix', suiviChamps.id, 'view' ]">{{suiviChamps.id}}</a></td>
                <td>{{suiviChamps.suiviID}}</td>
                <td>{{suiviChamps.dVisit | date:'medium'}}</td>
                <td>{{suiviChamps.emplac}}</td>
                <td>{{suiviChamps.obsAgent}}</td>
                <td>{{suiviChamps.obsRes}}</td>
                <td>{{suiviChamps.dosImg}}</td>
                <td>{{suiviChamps.estActif}}</td>
                <td>{{suiviChamps.creeLe | date:'medium'}}</td>
                <td>{{suiviChamps.creePar}}</td>
                <td>{{suiviChamps.modifLe | date:'medium'}}</td>
                <td>{{suiviChamps.modifPar}}</td>
                <td>
                    <div *ngIf="suiviChamps.clientId">
                        <a [routerLink]="['../client-my-suffix', suiviChamps.clientId , 'view' ]" >{{suiviChamps.clientId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="suiviChamps.utilisateurId">
                        <a [routerLink]="['../utilisateur-my-suffix', suiviChamps.utilisateurId , 'view' ]" >{{suiviChamps.utilisateurId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="suiviChamps.communeId">
                        <a [routerLink]="['../commune-my-suffix', suiviChamps.communeId , 'view' ]" >{{suiviChamps.communeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/suivi-champs-my-suffix', suiviChamps.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/suivi-champs-my-suffix', suiviChamps.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'suivi-champs-my-suffix/'+ suiviChamps.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
