<div>
    <h2 id="page-heading">
        <span>Uti Profils</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-uti-profil-my-suffix" [routerLink]="['/uti-profil-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Uti Profil
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="utiProfils">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Uti Pro ID</span></th>
            <th><span>Est Actif</span></th>
            <th><span>Cree Le</span></th>
            <th><span>Cree Par</span></th>
            <th><span>Modif Le</span></th>
            <th><span>Modif Par</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let utiProfil of utiProfils ;trackBy: trackId">
                <td><a [routerLink]="['/uti-profil-my-suffix', utiProfil.id, 'view' ]">{{utiProfil.id}}</a></td>
                <td>{{utiProfil.utiProID}}</td>
                <td>{{utiProfil.estActif}}</td>
                <td>{{utiProfil.creeLe | date:'medium'}}</td>
                <td>{{utiProfil.creePar}}</td>
                <td>{{utiProfil.modifLe | date:'medium'}}</td>
                <td>{{utiProfil.modifPar}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/uti-profil-my-suffix', utiProfil.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/uti-profil-my-suffix', utiProfil.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'uti-profil-my-suffix/'+ utiProfil.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
