<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2><span>Profile</span> {{profile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Profile ID</span></dt>
                <dd>
                    <span>{{profile.profileID}}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{profile.libelle}}</span>
                </dd>
                <dt><span>Est Actif</span></dt>
                <dd>
                    <span>{{profile.estActif}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{profile.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{profile.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{profile.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{profile.modifPar}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile-my-suffix', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
