<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profil">
            <h2><span>Profil</span> {{profil.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Profil ID</span></dt>
                <dd>
                    <span>{{profil.profilID}}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{profil.libelle}}</span>
                </dd>
                <dt><span>Est Actif</span></dt>
                <dd>
                    <span>{{profil.estActif}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{profil.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{profil.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{profil.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{profil.modifPar}}</span>
                </dd>
                <dt><span>Utilisateurs</span></dt>
                <dd>
                    <div *ngIf="profil.utilisateursId">
                        <a [routerLink]="['/uti-profil-my-suffix', profil.utilisateursId, 'view']">{{profil.utilisateursId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profil-my-suffix', profil.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
