<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorie">
            <h2><span>Categorie</span> {{categorie.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Categorie ID</span></dt>
                <dd>
                    <span>{{categorie.categorieID}}</span>
                </dd>
                <dt><span>Local ID</span></dt>
                <dd>
                    <span>{{categorie.localID}}</span>
                </dd>
                <dt><span>Remote ID</span></dt>
                <dd>
                    <span>{{categorie.remoteID}}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{categorie.libelle}}</span>
                </dd>
                <dt><span>Est Actif</span></dt>
                <dd>
                    <span>{{categorie.estActif}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{categorie.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{categorie.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{categorie.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{categorie.modifPar}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorie-my-suffix', categorie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
