<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="besoinIntrant">
            <h2><span>Besoin Intrant</span> {{besoinIntrant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Bes Int ID</span></dt>
                <dd>
                    <span>{{besoinIntrant.besIntID}}</span>
                </dd>
                <dt><span>Superficie Esc</span></dt>
                <dd>
                    <span>{{besoinIntrant.superficieEsc}}</span>
                </dd>
                <dt><span>Q Semence</span></dt>
                <dd>
                    <span>{{besoinIntrant.qSemence}}</span>
                </dd>
                <dt><span>Prix Tot Semence</span></dt>
                <dd>
                    <span>{{besoinIntrant.prixTotSemence}}</span>
                </dd>
                <dt><span>Valeur Tot</span></dt>
                <dd>
                    <span>{{besoinIntrant.valeurTot}}</span>
                </dd>
                <dt><span>M Adhesion</span></dt>
                <dd>
                    <span>{{besoinIntrant.mAdhesion}}</span>
                </dd>
                <dt><span>M Assur</span></dt>
                <dd>
                    <span>{{besoinIntrant.mAssur}}</span>
                </dd>
                <dt><span>M Garan</span></dt>
                <dd>
                    <span>{{besoinIntrant.mGaran}}</span>
                </dd>
                <dt><span>Q Stock Gar</span></dt>
                <dd>
                    <span>{{besoinIntrant.qStockGar}}</span>
                </dd>
                <dt><span>Magasin Stock</span></dt>
                <dd>
                    <span>{{besoinIntrant.magasinStock}}</span>
                </dd>
                <dt><span>Sfd</span></dt>
                <dd>
                    <span>{{besoinIntrant.sfd}}</span>
                </dd>
                <dt><span>M Uni Ges</span></dt>
                <dd>
                    <span>{{besoinIntrant.mUniGes}}</span>
                </dd>
                <dt><span>M Admin</span></dt>
                <dd>
                    <span>{{besoinIntrant.mAdmin}}</span>
                </dd>
                <dt><span>M Exploi</span></dt>
                <dd>
                    <span>{{besoinIntrant.mExploi}}</span>
                </dd>
                <dt><span>Valid Sup</span></dt>
                <dd>
                    <span>{{besoinIntrant.validSup}}</span>
                </dd>
                <dt><span>Valid Res</span></dt>
                <dd>
                    <span>{{besoinIntrant.validRes}}</span>
                </dd>
                <dt><span>Est Actif</span></dt>
                <dd>
                    <span>{{besoinIntrant.estActif}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{besoinIntrant.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{besoinIntrant.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{besoinIntrant.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{besoinIntrant.modifPar}}</span>
                </dd>
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="besoinIntrant.clientId">
                        <a [routerLink]="['/client-my-suffix', besoinIntrant.clientId, 'view']">{{besoinIntrant.clientId}}</a>
                    </div>
                </dd>
                <dt><span>Culture Esc</span></dt>
                <dd>
                    <div *ngIf="besoinIntrant.cultureEscId">
                        <a [routerLink]="['/culture-my-suffix', besoinIntrant.cultureEscId, 'view']">{{besoinIntrant.cultureEscId}}</a>
                    </div>
                </dd>
                <dt><span>Culture Gar</span></dt>
                <dd>
                    <div *ngIf="besoinIntrant.cultureGarId">
                        <a [routerLink]="['/culture-my-suffix', besoinIntrant.cultureGarId, 'view']">{{besoinIntrant.cultureGarId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/besoin-intrant-my-suffix', besoinIntrant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
