<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commune">
            <h2><span>Commune</span> {{commune.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Commune ID</span></dt>
                <dd>
                    <span>{{commune.communeID}}</span>
                </dd>
                <dt><span>Nom Commune</span></dt>
                <dd>
                    <span>{{commune.nomCommune}}</span>
                </dd>
                <dt><span>Est Actif</span></dt>
                <dd>
                    <span>{{commune.estActif}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{commune.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{commune.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{commune.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{commune.modifPar}}</span>
                </dd>
                <dt><span>Province</span></dt>
                <dd>
                    <div *ngIf="commune.provinceId">
                        <a [routerLink]="['/province-my-suffix', commune.provinceId, 'view']">{{commune.provinceId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commune-my-suffix', commune.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
