<div>
    <h2 id="page-heading">
        <span>Engrais</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-engrais-my-suffix" [routerLink]="['/engrais-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Engrais
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="engrais">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Engrais ID</span></th>
            <th><span>Libelle</span></th>
            <th><span>Prix Unitaire</span></th>
            <th><span>Est Actif</span></th>
            <th><span>Cree Le</span></th>
            <th><span>Cree Par</span></th>
            <th><span>Modif Le</span></th>
            <th><span>Modif Par</span></th>
            <th><span>Besoin Engrais</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let engrais of engrais ;trackBy: trackId">
                <td><a [routerLink]="['/engrais-my-suffix', engrais.id, 'view' ]">{{engrais.id}}</a></td>
                <td>{{engrais.engraisID}}</td>
                <td>{{engrais.libelle}}</td>
                <td>{{engrais.prixUnitaire}}</td>
                <td>{{engrais.estActif}}</td>
                <td>{{engrais.creeLe | date:'medium'}}</td>
                <td>{{engrais.creePar}}</td>
                <td>{{engrais.modifLe | date:'medium'}}</td>
                <td>{{engrais.modifPar}}</td>
                <td>
                    <div *ngIf="engrais.besoinEngraisId">
                        <a [routerLink]="['../besoin-engrais-my-suffix', engrais.besoinEngraisId , 'view' ]" >{{engrais.besoinEngraisId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/engrais-my-suffix', engrais.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/engrais-my-suffix', engrais.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'engrais-my-suffix/'+ engrais.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
