<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="besoinEngrais">
            <h2><span>Besoin Engrais</span> {{besoinEngrais.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Q Engrais</span></dt>
                <dd>
                    <span>{{besoinEngrais.qEngrais}}</span>
                </dd>
                <dt><span>P Tot Engr</span></dt>
                <dd>
                    <span>{{besoinEngrais.pTotEngr}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{besoinEngrais.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{besoinEngrais.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{besoinEngrais.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{besoinEngrais.modifPar}}</span>
                </dd>
                <dt><span>Besoin Intrant</span></dt>
                <dd>
                    <div *ngIf="besoinEngrais.besoinIntrantId">
                        <a [routerLink]="['/besoin-intrant-my-suffix', besoinEngrais.besoinIntrantId, 'view']">{{besoinEngrais.besoinIntrantId}}</a>
                    </div>
                </dd>
                <dt><span>Engrais</span></dt>
                <dd>
                    <div *ngIf="besoinEngrais.engraisId">
                        <a [routerLink]="['/engrais-my-suffix', besoinEngrais.engraisId, 'view']">{{besoinEngrais.engraisId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/besoin-engrais-my-suffix', besoinEngrais.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
