<div>
    <h2 id="page-heading">
        <span>Uti Profiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-uti-profile-my-suffix" [routerLink]="['/uti-profile-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Uti Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="utiProfiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Uti Pro ID</span></th>
            <th><span>Est Actif</span></th>
            <th><span>Cree Le</span></th>
            <th><span>Cree Par</span></th>
            <th><span>Modif Le</span></th>
            <th><span>Modif Par</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let utiProfile of utiProfiles ;trackBy: trackId">
                <td><a [routerLink]="['/uti-profile-my-suffix', utiProfile.id, 'view' ]">{{utiProfile.id}}</a></td>
                <td>{{utiProfile.utiProID}}</td>
                <td>{{utiProfile.estActif}}</td>
                <td>{{utiProfile.creeLe | date:'medium'}}</td>
                <td>{{utiProfile.creePar}}</td>
                <td>{{utiProfile.modifLe | date:'medium'}}</td>
                <td>{{utiProfile.modifPar}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/uti-profile-my-suffix', utiProfile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/uti-profile-my-suffix', utiProfile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'uti-profile-my-suffix/'+ utiProfile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
