<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="utilisateur">
            <h2><span>Utilisateur</span> {{utilisateur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User ID</span></dt>
                <dd>
                    <span>{{utilisateur.userID}}</span>
                </dd>
                <dt><span>Login</span></dt>
                <dd>
                    <span>{{utilisateur.login}}</span>
                </dd>
                <dt><span>Mdp</span></dt>
                <dd>
                    <span>{{utilisateur.mdp}}</span>
                </dd>
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{utilisateur.nom}}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{utilisateur.prenom}}</span>
                </dd>
                <dt><span>Date Naiss</span></dt>
                <dd>
                    <span>{{utilisateur.dateNaiss}}</span>
                </dd>
                <dt><span>Genre</span></dt>
                <dd>
                    <span>{{utilisateur.genre}}</span>
                </dd>
                <dt><span>Tel</span></dt>
                <dd>
                    <span>{{utilisateur.tel}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{utilisateur.email}}</span>
                </dd>
                <dt><span>Num Carte Uti</span></dt>
                <dd>
                    <span>{{utilisateur.numCarteUti}}</span>
                </dd>
                <dt><span>Date Carte Uti</span></dt>
                <dd>
                    <span>{{utilisateur.dateCarteUti}}</span>
                </dd>
                <dt><span>Est Actif</span></dt>
                <dd>
                    <span>{{utilisateur.estActif}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{utilisateur.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{utilisateur.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{utilisateur.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{utilisateur.modifPar}}</span>
                </dd>
                <dt><span>Langue</span></dt>
                <dd>
                    <div *ngIf="utilisateur.langueId">
                        <a [routerLink]="['/langue-my-suffix', utilisateur.langueId, 'view']">{{utilisateur.langueId}}</a>
                    </div>
                </dd>
                <dt><span>Commune</span></dt>
                <dd>
                    <div *ngIf="utilisateur.communeId">
                        <a [routerLink]="['/commune-my-suffix', utilisateur.communeId, 'view']">{{utilisateur.communeId}}</a>
                    </div>
                </dd>
                <dt><span>Responsable</span></dt>
                <dd>
                    <div *ngIf="utilisateur.responsableId">
                        <a [routerLink]="['/utilisateur-my-suffix', utilisateur.responsableId, 'view']">{{utilisateur.responsableId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/utilisateur-my-suffix', utilisateur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
