<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-utilisateur-my-suffix-heading">Create or edit a Utilisateur</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!utilisateur.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="utilisateur.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userID">User ID</label>
                    <input type="number" class="form-control" name="userID" id="field_userID"
                        [(ngModel)]="utilisateur.userID" required/>
                    <div [hidden]="!(editForm.controls.userID?.dirty && editForm.controls.userID?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.userID?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.userID?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                        [(ngModel)]="utilisateur.login" required maxlength="6"/>
                    <div [hidden]="!(editForm.controls.login?.dirty && editForm.controls.login?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.login?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.login?.errors?.maxlength">
                        This field cannot be longer than 6 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mdp">Mdp</label>
                    <input type="text" class="form-control" name="mdp" id="field_mdp"
                        [(ngModel)]="utilisateur.mdp" required maxlength="8"/>
                    <div [hidden]="!(editForm.controls.mdp?.dirty && editForm.controls.mdp?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.mdp?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.mdp?.errors?.maxlength">
                        This field cannot be longer than 8 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="utilisateur.nom" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                        [(ngModel)]="utilisateur.prenom" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prenom?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prenom?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateNaiss">Date Naiss</label>
                    <div class="d-flex">
                        <input id="field_dateNaiss" type="datetime-local" class="form-control" name="dateNaiss" [(ngModel)]="dateNaiss"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.dateNaiss?.dirty && editForm.controls.dateNaiss?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateNaiss?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dateNaiss?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_genre">Genre</label>
                    <select class="form-control" name="genre" [(ngModel)]="utilisateur.genre" id="field_genre"  required>
                        <option value="HOMME">HOMME</option>
                        <option value="FEMME">FEMME</option>
                    </select>
                    <div [hidden]="!(editForm.controls.genre?.dirty && editForm.controls.genre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.genre?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel"
                        [(ngModel)]="utilisateur.tel" required maxlength="10"/>
                    <div [hidden]="!(editForm.controls.tel?.dirty && editForm.controls.tel?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tel?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tel?.errors?.maxlength">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="utilisateur.email" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numCarteUti">Num Carte Uti</label>
                    <input type="text" class="form-control" name="numCarteUti" id="field_numCarteUti"
                        [(ngModel)]="utilisateur.numCarteUti" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.numCarteUti?.dirty && editForm.controls.numCarteUti?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numCarteUti?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numCarteUti?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nomPAP">Nom PAP</label>
                    <input type="text" class="form-control" name="nomPAP" id="field_nomPAP"
                        [(ngModel)]="utilisateur.nomPAP" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prenomPAP">Prenom PAP</label>
                    <input type="text" class="form-control" name="prenomPAP" id="field_prenomPAP"
                        [(ngModel)]="utilisateur.prenomPAP" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telPAP">Tel PAP</label>
                    <input type="text" class="form-control" name="telPAP" id="field_telPAP"
                        [(ngModel)]="utilisateur.telPAP" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lienPAP">Lien PAP</label>
                    <input type="text" class="form-control" name="lienPAP" id="field_lienPAP"
                        [(ngModel)]="utilisateur.lienPAP" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estActif">Est Actif</label>
                    <input type="checkbox" class="form-control" name="estActif" id="field_estActif"
                        [(ngModel)]="utilisateur.estActif" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creeLe">Cree Le</label>
                    <div class="d-flex">
                        <input id="field_creeLe" type="datetime-local" class="form-control" name="creeLe" [(ngModel)]="creeLe"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creePar">Cree Par</label>
                    <input type="text" class="form-control" name="creePar" id="field_creePar"
                        [(ngModel)]="utilisateur.creePar" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifLe">Modif Le</label>
                    <div class="d-flex">
                        <input id="field_modifLe" type="datetime-local" class="form-control" name="modifLe" [(ngModel)]="modifLe"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifPar">Modif Par</label>
                    <input type="text" class="form-control" name="modifPar" id="field_modifPar"
                        [(ngModel)]="utilisateur.modifPar" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_langue">Langue</label>
                    <select class="form-control" id="field_langue" name="langue" [(ngModel)]="utilisateur.langueId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="langueOption.id" *ngFor="let langueOption of langues; trackBy: trackLangueById">{{langueOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_commune">Commune</label>
                    <select class="form-control" id="field_commune" name="commune" [(ngModel)]="utilisateur.communeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="communeOption.id" *ngFor="let communeOption of communes; trackBy: trackCommuneById">{{communeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_responsable">Responsable</label>
                    <select class="form-control" id="field_responsable" name="responsable" [(ngModel)]="utilisateur.responsableId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="utilisateurOption.id" *ngFor="let utilisateurOption of utilisateurs; trackBy: trackUtilisateurById">{{utilisateurOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
