<div>
    <h2 id="page-heading">
        <span>Utilisateurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-utilisateur-my-suffix" [routerLink]="['/utilisateur-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Utilisateur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="utilisateurs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userID"><span>User ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="login"><span>Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mdp"><span>Mdp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span>Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prenom"><span>Prenom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateNaiss"><span>Date Naiss</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="genre"><span>Genre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tel"><span>Tel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span>Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numCarteUti"><span>Num Carte Uti</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nomPAP"><span>Nom PAP</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prenomPAP"><span>Prenom PAP</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telPAP"><span>Tel PAP</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lienPAP"><span>Lien PAP</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estActif"><span>Est Actif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creeLe"><span>Cree Le</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creePar"><span>Cree Par</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifLe"><span>Modif Le</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifPar"><span>Modif Par</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="agentsId"><span>Agents</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profilesId"><span>Profiles</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientsId"><span>Clients</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="suiviChampsId"><span>Suivi Champs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let utilisateur of utilisateurs ;trackBy: trackId">
                <td><a [routerLink]="['/utilisateur-my-suffix', utilisateur.id, 'view' ]">{{utilisateur.id}}</a></td>
                <td>{{utilisateur.userID}}</td>
                <td>{{utilisateur.login}}</td>
                <td>{{utilisateur.mdp}}</td>
                <td>{{utilisateur.nom}}</td>
                <td>{{utilisateur.prenom}}</td>
                <td>{{utilisateur.dateNaiss | date:'medium'}}</td>
                <td>{{utilisateur.genre}}</td>
                <td>{{utilisateur.tel}}</td>
                <td>{{utilisateur.email}}</td>
                <td>{{utilisateur.numCarteUti}}</td>
                <td>{{utilisateur.nomPAP}}</td>
                <td>{{utilisateur.prenomPAP}}</td>
                <td>{{utilisateur.telPAP}}</td>
                <td>{{utilisateur.lienPAP}}</td>
                <td>{{utilisateur.estActif}}</td>
                <td>{{utilisateur.creeLe | date:'medium'}}</td>
                <td>{{utilisateur.creePar}}</td>
                <td>{{utilisateur.modifLe | date:'medium'}}</td>
                <td>{{utilisateur.modifPar}}</td>
                <td>
                    <div *ngIf="utilisateur.agentsId">
                        <a [routerLink]="['../utilisateur-my-suffix', utilisateur.agentsId , 'view' ]" >{{utilisateur.agentsId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="utilisateur.profilesId">
                        <a [routerLink]="['../uti-profile-my-suffix', utilisateur.profilesId , 'view' ]" >{{utilisateur.profilesId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="utilisateur.clientsId">
                        <a [routerLink]="['../client-my-suffix', utilisateur.clientsId , 'view' ]" >{{utilisateur.clientsId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="utilisateur.suiviChampsId">
                        <a [routerLink]="['../suivi-champs-my-suffix', utilisateur.suiviChampsId , 'view' ]" >{{utilisateur.suiviChampsId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/utilisateur-my-suffix', utilisateur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/utilisateur-my-suffix', utilisateur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'utilisateur-my-suffix/'+ utilisateur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
