<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="utilisateur">
            <h2><span>Utilisateur</span> {{utilisateur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User ID</span></dt>
                <dd>
                    <span>{{utilisateur.userID}}</span>
                </dd>
                <dt><span>Login</span></dt>
                <dd>
                    <span>{{utilisateur.login}}</span>
                </dd>
                <dt><span>Mdp</span></dt>
                <dd>
                    <span>{{utilisateur.mdp}}</span>
                </dd>
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{utilisateur.nom}}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{utilisateur.prenom}}</span>
                </dd>
                <dt><span>Date Naiss</span></dt>
                <dd>
                    <span>{{utilisateur.dateNaiss}}</span>
                </dd>
                <dt><span>Genre</span></dt>
                <dd>
                    <span>{{utilisateur.genre}}</span>
                </dd>
                <dt><span>Tel</span></dt>
                <dd>
                    <span>{{utilisateur.tel}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{utilisateur.email}}</span>
                </dd>
                <dt><span>Num Carte Uti</span></dt>
                <dd>
                    <span>{{utilisateur.numCarteUti}}</span>
                </dd>
                <dt><span>Nom PAP</span></dt>
                <dd>
                    <span>{{utilisateur.nomPAP}}</span>
                </dd>
                <dt><span>Prenom PAP</span></dt>
                <dd>
                    <span>{{utilisateur.prenomPAP}}</span>
                </dd>
                <dt><span>Tel PAP</span></dt>
                <dd>
                    <span>{{utilisateur.telPAP}}</span>
                </dd>
                <dt><span>Lien PAP</span></dt>
                <dd>
                    <span>{{utilisateur.lienPAP}}</span>
                </dd>
                <dt><span>Est Actif</span></dt>
                <dd>
                    <span>{{utilisateur.estActif}}</span>
                </dd>
                <dt><span>Cree Le</span></dt>
                <dd>
                    <span>{{utilisateur.creeLe}}</span>
                </dd>
                <dt><span>Cree Par</span></dt>
                <dd>
                    <span>{{utilisateur.creePar}}</span>
                </dd>
                <dt><span>Modif Le</span></dt>
                <dd>
                    <span>{{utilisateur.modifLe}}</span>
                </dd>
                <dt><span>Modif Par</span></dt>
                <dd>
                    <span>{{utilisateur.modifPar}}</span>
                </dd>
                <dt><span>Agents</span></dt>
                <dd>
                    <div *ngIf="utilisateur.agentsId">
                        <a [routerLink]="['/utilisateur-my-suffix', utilisateur.agentsId, 'view']">{{utilisateur.agentsId}}</a>
                    </div>
                </dd>
                <dt><span>Profiles</span></dt>
                <dd>
                    <div *ngIf="utilisateur.profilesId">
                        <a [routerLink]="['/uti-profile-my-suffix', utilisateur.profilesId, 'view']">{{utilisateur.profilesId}}</a>
                    </div>
                </dd>
                <dt><span>Clients</span></dt>
                <dd>
                    <div *ngIf="utilisateur.clientsId">
                        <a [routerLink]="['/client-my-suffix', utilisateur.clientsId, 'view']">{{utilisateur.clientsId}}</a>
                    </div>
                </dd>
                <dt><span>Suivi Champs</span></dt>
                <dd>
                    <div *ngIf="utilisateur.suiviChampsId">
                        <a [routerLink]="['/suivi-champs-my-suffix', utilisateur.suiviChampsId, 'view']">{{utilisateur.suiviChampsId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/utilisateur-my-suffix', utilisateur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
